<html>
  <head></head>
  <body>
    <center>
      <form action='/posts' method='post'>
        <p>Name: <input type='text' name='name'></p>
        <p>Content: <input type='text' name='content'></p>
        <input type="submit" value="submit">
      </form>
    </center>
  </body>
</html>
